a{
    color: black;
}
a:hover{
    color: #AAAAAA;
}
.alert{
    padding-top: 25px;
    padding-bottom: 25px;
}
.table tr[data-href]{
    cursor: pointer;
}
h5{
    margin: 0;
}

.carousel{
    border: 1px solid #9A9A9A;
}
.carousel .carousel-inner img{
    width: 100%;
}
.carousel .carousel-indicators{
    left: initial;
    right: 0;
    width: initial;
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 1%;
    bottom: 0;
}
.carousel-indicators li{
    background-color: white;
}
#slider.main .carousel-indicators li.active{
    background-color: #9b7c43;
    border: 1px solid black;
}
.product .carousel-indicators li,
.product .carousel-indicators li.active{
    width: 60px;
    height: 60px;
    border-radius: 0px;
    text-indent: 0;
}
.carousel-indicators img{
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.carousel a.carousel-control{
    width: 30px;
    height: 30px;
    left: initial;
    right: initial;
    top: 50%;
    bottom: initial;
    transform: translate(0%,-50%);
    position: absolute;
    background: white;
    color: black;
    text-align: center;
}
.carousel a.carousel-control.left{
    left: 0;
}
.carousel a.carousel-control.right{
    right: 0;
}
.carousel .carousel-control .glyphicon{
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel .carousel-control.left .glyphicon{
    left: 0%;
}
.carousel .carousel-control.right .glyphicon{
    right: 0%;
}
.title{
    margin-bottom: 15px;
}
.title p,
.title h3{
    margin:0;
}
.product p{
    font-size: 14px;
}
.specification li{
    text-align: center;
    border: 2px solid #9A9A9A;
    border-left: 1px solid #9A9A9A;
    border-right: 1px solid #9A9A9A;
    padding: 10px;
}
.specification h4{
    margin:0;
}
.specification li:first-child{
    border-left: 2px solid #9A9A9A;
}
.specification li:last-child{
    border-right: 2px solid #9A9A9A;
}
.product .form-group{
    margin-top: 5px;
    margin-bottom: 0px;
}
.specification input{
    text-align: center;
}
.btn-file{
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file]  {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder{
    color: #9A9A9A;
}

input.form-control:-moz-placeholder,
textarea.form-control:-moz-placeholder{
    color: #9A9A9A;
}

input.form-control::-moz-placeholder,
textarea.form-control::-moz-placeholder{
    color: #9A9A9A;
}

input.form-control:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder{
    color: #9A9A9A;
}
input, textarea{
    color: black;
}

.radio input[type=radio] ~ .second-icon{
    display: none;
}
.radio input[type=radio]:hover ~ .first-icon{
    display: none;
}
.radio input[type=radio]:hover ~ .second-icon{
    display: inline-block;
}
.radio input[type=radio]:checked ~ .first-icon{
    display: none;
}
.radio input[type=radio]:checked ~ .second-icon{
    display: inline-block;
}
.radio input[type=radio]{
    display: none;
}
.radio{
    padding:0;
}
.dropzone{
    min-height: 125px;
}
.dropzone .dz-preview.dz-image-preview{
    width: 22%;
}
.dropzone .dz-preview{
    margin: 10px;
    min-height: initial;
}
.dropzone .dz-preview{
    width: 100%;
}
.dropzone .dz-preview .dz-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.dropzone .dz-preview .dz-image img{
    width: 100%;
}
.dropzone .dz-preview .dz-details{
    top: 50%;
    transform: translateY(-70%);
    position: absolute;
    padding: 0;
}
.dropzone .dz-preview .dz-details .dz-size{
    margin-bottom: 0.5em;
}
.dropzone .dz-toggle{
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
}
.dropzone .dz-toggle:hover{
    text-decoration: underline;
}
.modal-content{
    background: #F4F3EF;
}
.typeahead.dropdown-menu{
    visibility: visible;
    opacity: 1;
}
.bootstrap-tagsinput{
    width: 100%;
}
.fresh-table .dropdown .dropdown-menu:after{
    right: initial;
    left: 12px;
}
li .badge{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}
@media (max-width: 991px){
    li .badge{
        transform: translate(0%, -50%);
    }
}
li.active .badge{
    background-color: #EB5E28;
}
tr[data-new="1"]{
    color: black;
    font-weight: bold;
}
tr[data-new="1"] h5{
    font-weight: bold;
}
.div-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div-img img{
    width: 100%;
}
.card .header{
    padding: 0;
    position: relative;
}
.card hr{
    margin: 0;
}
.card .header h4{
    margin-top: 0px;
}
.card .footer div {
    width: 100%;
}
.card .numbers p{
    white-space: nowrap;
    overflow: hidden;
}
.card .footer div .count{
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.badge{
    background-color: #d9534f;
}